/AulasItson/nbproject/private/
/AulasItsonNegocio/nbproject/private/
/AulasItsonPersistencia/nbproject/private/
/AulasNegocio/target/
/AulasDatos/target/
/Aulas/target/
/AulasDTO/target/
/AulasSubsistemas/target/
/AulasObjetosNegocio/target/
/AulasPresentacion/target/
/AulasPersistencia/target/
/AulasObjNegocio/target/
/SubAccesoMaestro/target/
/SubAccesoUbicaciones/target/
/AulasPersistencia2/target/
/AulasExcepciones/target/
AulasExcepciones/target/AulasExcepciones-1.0.jar
AulasPersistencia/src/main/resources/META-INF/persistence.xml
/SubIniciarSesion/target/
